# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Environment
.env
*.env.local

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# macOS
.DS_Store
**/.DS_Store

# DB
*.db
*.sqlite3

# IDE
.vscode/
.idea/
.vercel
